Before we start anything. We need to download the libarries that we plan on using.

In [161]:
pip install pandas seaborn

Requirement already satisfied: pandas in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.2)
Requirement already satisfied: seaborn in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\wacbo\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [162]:
import pandas as pd
import seaborn as sns

Now that all of our libaries are downloaded and imported, we can start importing our data

For this lab we are going to be working with an excel spreadsheet of trending youtube videos in the United States

## Importing data
before we can do anything with the data, we must but it into a pandas dataFrame so that we can easily view and manipulate the data.

Since the data is in an CSV (Comma Seperated Values) document, we will use `pd.read_csv()`

In [163]:
# Import data
youtube_data = pd.read_csv('USvideos.csv')
youtube_data

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40944,BZt0qjTWNhw,18.14.06,The Cat Who Caught the Laser,AaronsAnimals,15,2018-05-18T13:00:04.000Z,"aarons animals|""aarons""|""animals""|""cat""|""cats""...",1685609,38160,1385,2657,https://i.ytimg.com/vi/BZt0qjTWNhw/default.jpg,False,False,False,The Cat Who Caught the Laser - Aaron's Animals
40945,1h7KV2sjUWY,18.14.06,True Facts : Ant Mutualism,zefrank1,22,2018-05-18T01:00:06.000Z,[none],1064798,60008,382,3936,https://i.ytimg.com/vi/1h7KV2sjUWY/default.jpg,False,False,False,NaN
40946,D6Oy4LfoqsU,18.14.06,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...,Brad Mondo,24,2018-05-18T17:34:22.000Z,I gave safiya nygaard a perfect hair makeover ...,1066451,48068,1032,3992,https://i.ytimg.com/vi/D6Oy4LfoqsU/default.jpg,False,False,False,I had so much fun transforming Safiyas hair in...
40947,oV0zkMe1K8s,18.14.06,How Black Panther Should Have Ended,How It Should Have Ended,1,2018-05-17T17:00:04.000Z,"Black Panther|""HISHE""|""Marvel""|""Infinity War""|...",5660813,192957,2846,13088,https://i.ytimg.com/vi/oV0zkMe1K8s/default.jpg,False,False,False,How Black Panther Should Have EndedWatch More ...
40948,ooyjaVdt-jA,18.14.06,Official Call of Duty®: Black Ops 4 — Multipla...,Call of Duty,20,2018-05-17T17:09:38.000Z,"call of duty|""cod""|""activision""|""Black Ops 4""",10306119,357079,212976,144795,https://i.ytimg.com/vi/ooyjaVdt-jA/default.jpg,False,False,False,Call of Duty: Black Ops 4 Multiplayer raises t...

Data analysis always start with a question we want to solve. 

For this workshop, we are going to try to answer the following questions
- who has made the most trending videos?
- what are the most common words in a trending title?
- what is the best time to post a video if we want it to be trending?

However, before we can start answering any of these quesitons, we are going to need gain a better understanding of our data through a process called <b>data exploration<b/>

## Exploring Our Data

In [164]:
youtube_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

Describe integers

In [165]:
youtube_data.describe()

        category_id         views         likes      dislikes  comment_count
count  40949.000000  4.094900e+04  4.094900e+04  4.094900e+04   4.094900e+04
mean      19.972429  2.360785e+06  7.426670e+04  3.711401e+03   8.446804e+03
std        7.568327  7.394114e+06  2.288853e+05  2.902971e+04   3.743049e+04
min        1.000000  5.490000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       17.000000  2.423290e+05  5.424000e+03  2.020000e+02   6.140000e+02
50%       24.000000  6.818610e+05  1.809100e+04  6.310000e+02   1.856000e+03
75%       25.000000  1.823157e+06  5.541700e+04  1.938000e+03   5.755000e+03
max       43.000000  2.252119e+08  5.613827e+06  1.674420e+06   1.361580e+06

Check duplicates

In [166]:
has_duplicates = youtube_data.duplicated()
has_duplicates.sum()

48

In [167]:
youtube_data[has_duplicates].sort_values(by=['title']).head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
34919,3g5O-kT9m8k,18.15.05,$1000 Survival Kit in a Case,CrazyRussianHacker,28,2018-05-13T18:51:13.000Z,"$1000 Survival Kit|""Survival Kit in a Case""|""p...",1289899,51318,1359,4332,https://i.ytimg.com/vi/3g5O-kT9m8k/default.jpg,False,False,False,$15 Survival Kit Unboxing - https://youtu.be/0...
34905,jzLlsbdrwQk,18.15.05,"$17 Pet vs. $100,000 Pet",BuzzFeedBlue,22,2018-05-13T15:00:57.000Z,"buzzfeed|""worth it""|""cheap vs. expensive""|""ste...",3081033,60379,6857,7796,https://i.ytimg.com/vi/jzLlsbdrwQk/default.jpg,False,False,False,“Who is Lennox and why is he so special?”Credi...
34923,D2mxKEa2xmA,18.15.05,10 Most DEVASTATING Cyber Attacks in History,MatthewSantoro,24,2018-05-13T13:00:01.000Z,"computer hacks|""cyber attack""|""computer virus""...",158406,6773,364,947,https://i.ytimg.com/vi/D2mxKEa2xmA/default.jpg,False,False,False,"Download the best VPN on the market, NORDVPN n..."
34913,4oqvNR1o3Zo,18.15.05,24 HOUR BOX FORT PRISON ESCAPE ROOM!! 📦🚔 Diggi...,Papa Jake,24,2018-05-13T16:42:33.000Z,"box fort|""fort""|""kids""|""funny""|""fun""|""no swear...",1030616,20251,3290,3567,https://i.ytimg.com/vi/4oqvNR1o3Zo/default.jpg,False,False,False,In Todays 24 hour Box Fort video papa Jake bui...
34914,96oKlWv5wSo,18.15.05,AMAZING All You Can Eat BBQ KEBAB Buffet in I...,Strictly Dumpling,19,2018-05-13T20:17:14.000Z,"indian buffet|""kebab buffet""|""buffet""|""all you...",456475,10561,337,1384,https://i.ytimg.com/vi/96oKlWv5wSo/default.jpg,False,False,False,I'm always on the lookout for new amazing buff...

This means that there are 48 rows that have all the same values as some other row in the dateset.

since we don't need them for our analysis, we can get rid of them with using `df.drop_duplicates()`

In [168]:
youtube_data = youtube_data.drop_duplicates()
youtube_data.duplicated().sum()

0

## Who has made the most trending videos

to solve this particular question we are going to need a list of all the videos.

However, we want to make sure that every video is only showing up once.

we are going to use `df.duplicated` again but this time we will list the columns we want to check for duplicates on and then use that list as a parameter

In [169]:
cols_to_check_unique = ['title', 'channel_title']
youtube_data.duplicated(cols_to_check_unique).sum()

34433

We can now see that there are 34433 rows that share a title and a channel title with some other row in the dataset.

Once again we are going to drop these rows using `df.drop_duplicates()` but we will pass our list of columns to it like we did `df.duplicated()`

*Be aware that `df.drop_duplicates()` will keep the first row it finds and delete any duplicates afterwards. If you want to keep the last ones, use `df.drop_duplicates(COL_TO_CHECK,keep='last')`*

In [170]:
# Drop duplicates while keeping the most recent appearance
unique_video_data = youtube_data.drop_duplicates(cols_to_check_unique)

Lets count the duplicates again to make sure that we got rid of everything that we wanted to

In [171]:
unique_video_data.duplicated(cols_to_check_unique).sum()

0

If the value is zero than we have set everything up corrent and can now continue with the analysis

Next up, we need to put all of our rows of data into groups based on the channel that made the video.

We can do this by using `df.groupby(by=['channel_title'])` and then use `.size()` on the result to get the number of rows in each group

In [172]:
channels = unique_video_data.groupby(by=['channel_title']).size()
channels.head(10)

channel_title
12 News                                               1
1MILLION Dance Studio                                 4
1theK (원더케이)                                          5
20th Century Fox                                     17
2CELLOS                                               1
3Blue1Brown                                           3
3D Printing Nerd                                      2
42Fab - Metalworking and Multi-Medium Fabrication     1
494ta                                                 1
4given4ever1                                          1
dtype: int64

Finally, we just need to sort these groups using `.sort_values()` make sure to set the ascending parameter to false

In [173]:
channels_by_trending_count = channels.sort_values(ascending=False)
channels_by_trending_count.head()

channel_title
ESPN                                      84
TheEllenShow                              74
The Tonight Show Starring Jimmy Fallon    72
Jimmy Kimmel Live                         70
The Late Show with Stephen Colbert        58
dtype: int64

## what are the most common words in trending titles?

In [174]:
titles = youtube_data.drop_duplicates(['title'])['title'].to_frame()
titles

                                                   title
0                     WE WANT TO TALK ABOUT OUR MARRIAGE
1      The Trump Presidency: Last Week Tonight with J...
2      Racist Superman | Rudy Mancuso, King Bach & Le...
3                       Nickelback Lyrics: Real or Fake?
4                               I Dare You: GOING BALD!?
...                                                  ...
40760                      CRAYOLA MAKEUP | HIT OR MISS?
40761  First Take reacts: Kyrie Irving says contract ...
40762  Drop the Mic w/ Ashton Kutcher & Sean Diddy Combs
40764  Carla Makes BA Smashburgers | From the Test Ki...
40766  Katherine Langford on 13 Reasons Why, Australi...

[6455 rows x 1 columns]

In [175]:
import re
def create_word_cols(row):
    words = re.findall(r'\w+', row['title'].lower())
    word_count = {}
    for word in words:
        word_count[word] = words.count(word)
    return word_count

In [176]:
titles['word count'] = titles.apply(create_word_cols, axis=1)
word_count_df = pd.json_normalize(titles['word count'])
word_count_df

,we,want,to,talk,about,our,marriage,the,trump,presidency,...,ratatouille,nun,crayola,contract,extension,sense,ba,smashburgers,katherine,langford
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN
6452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
6454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [177]:
word_count_df = word_count_df.fillna(0)
word_count_df

,we,want,to,talk,about,our,marriage,the,trump,presidency,...,ratatouille,nun,crayola,contract,extension,sense,ba,smashburgers,katherine,langford
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6450,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
6452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6453,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
6454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [178]:
word_count_df = word_count_df.transpose()
word_count_df

,0,1,2,3,4,5,6,7,8,9,...,6445,6446,6447,6448,6449,6450,6451,6452,6453,6454
we,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
want,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
to,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
talk,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
about,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sense,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
ba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
smashburgers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
katherine,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
langford,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [182]:
word_count_df['Total'] = word_count_df.apply(sum, axis=1)
word_count_df['Total'].sort_values(ascending=False).head(10)

the         6680.0
a           3128.0
s           3084.0
to          2812.0
in          2236.0
of          2176.0
official    1992.0
with        1924.0
on          1696.0
and         1636.0
Name: Total, dtype: float64

## What is the best time to post a video